@font-face {
    font-family: 'Saans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Saans-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'Saans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Saans-Medium.woff2") format("woff2");
}
@font-face {
    font-family: 'Saans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Saans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Saans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Saans-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: 'Cambon Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/CambonCondensed-Thin.woff2") format("woff2");
}
